{% extends "base.html" %}

{% block content %}
    <div class="container1">
        <h1>Привет! Это блог!</h1>
        <div class="container2">
            {% if current_user.is_anonymous %}
                <a class="btn" href="/login" title="Вход">Вход</a>
            {% else %}
                <a class="btn" href="/logout" title="Выход">Выход</a>
            {% endif %}
            <a class="btn" href="/" title="На главную">На главную</a>
        </div>
        {% if not current_user.is_anonymous %}
            {{ current_user.is_admin() }}
        {% endif %}
        <h1>Статьи:</h1>
<!--        {% for page in pages %}-->
<!--            -->
<!--        {% endfor %}-->
    </div>
{% endblock %}