{% extends "base.html" %}

{% block content %}
<!--    <div class="container1">-->
<!--        <img src="static/images/icon.png" alt="Лого сервера" width="100" height="100">-->
<!--        <h1>Привет! Добро пожаловать на сайт сервера LimeLand</h1>-->
<!--        <a class="btn" href="https://discord.gg/z4uzjbKah9" title="Зайти на сервер">Зайти на сервер</a>-->
<!--        <h2><a href="https://discord.gg/z4uzjbKah9"></a></h2>-->
<!--        <iframe src="https://discord.com/widget?id=1165995535568744458&amp;theme=dark"-->
<!--                width="350" height="400" allowtransparency="true" frameborder="0"-->
<!--                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts">-->
<!--        </iframe>-->
<!--    </div>-->
<div class="container1">
    <h1> ЭТОГО РАЗДАЛА ВРЕМЕННО НЕТ! ТЕХ. РАБОТЫ! </h1>
</div>
{% endblock %}