<!DOCTYPE html>

<head>
    <meta charset="UTF-8">

    <meta name="description" content="Главная сайта" />

    <title>Главная</title>

    <link rel="stylesheet" href="static/style.css">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div class="container1">
        <h1>Привет! Добро пожаловать на мой сайт</h1>
    </div>
    <div class="container2">
        <div class="left">
            <a class="btn" href="/about-me" title="Обо мне">Обо мне</a>
        </div>
        <div class="right">
            <a class="btn" href="/blog" title="Блог">Блог</a>
        </div>
        <div class="left">
            <a class="btn" href="https://stats.uptimerobot.com/FffuzIkSXX" title="Статус сайта">
                Статус сайта</a>
        </div>
        <div class="right">
            <a class="btn" href="/discord-server" title="Мой Discord сервер">
                Мой Discord сервер</a>
        </div>
    </div>
</body>

<footer>
    <div class="dnsexit">
        <a href="http://dnsexit.com"><img src="http://dnsexit.com/images/dns2.gif" border=0></a>
    </div>
</footer>
