{% extends "base.html" %}

{% block content %}
    <div class="container1">
        <h1>Привет! Добро пожаловать на мой сайт</h1>
    </div>
    <div class="container2">
        <div class="left">
            <a class="btn" href="/about-me" title="Обо мне">Обо мне</a>
        </div>
        <div class="right">
            <a class="btn" href="/blog" title="Блог">Блог</a>
        </div>
        <div class="left">
            <a class="btn" href="https://stats.uptimerobot.com/FffuzIkSXX" title="Статус сайта">
                Статус сайта</a>
        </div>
        <div class="right">
            <a class="btn" href="/discord-server" title="Мой Discord сервер">
                Мой Discord сервер</a>
        </div>
    </div>
{% endblock %}
